<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus Dispositivos</title>
    <link rel="stylesheet" href="../static/styles.css"> 
</head>
<body>
    <div class="container">
        <h1>My Devices</h1>

        <table class="devices-table">
            <thead>
                <tr>
                    <th>Device</th>
                    <th>Modelo</th>
                    <th>ODM</th>
                    <th>IMEI</th>
                    <th>Assigned</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Tablet</td>
                    <td>Vaio TL12</td>
                    <td>ZTECH</td>
                    <td>123456789012</td>
                    <td>Danielle Caldas</td>
                </tr>
                <tr>
                    <td>Tablet</td>
                    <td>T307F</td>
                    <td>HENA</td>
                    <td>374656789012</td>
                    <td>Danielle Caldas</td>
                </tr>
                <tr>
                    <td>Smartphone</td>
                    <td>T2070D</td>
                    <td>ZTECH</td>
                    <td>987654321098</td>
                    <td>Danielle Caldas</td>
                </tr>
            </tbody>
        </table>

        <div class="buttons-container">
            <button class="btn home-btn" onclick="window.location.href='devices.html'">Voltar</button>
        </div>
    </div>
</body>
</html>
